@tailwind base;
@tailwind components;
@tailwind utilities;

/* *********************** FONTS *********************** */
@font-face {
	font-family: 'Inter';
	src: url('/font/Inter.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* *********************** CUSTOM GLOBAL CLASSES *********************** */
:root {
	font-family: 'Inter', sans-serif;
}
